{% extends 'base.html' %}

{% block content %}
    <h5>{{ object.userprofile.name }} - User Details</h5>
    <table id="user-detail-table">
        <thead>
          <tr>
              <th>favorite alcohol</th>
              <th>age</th>
              <th>suggestions</th>
              <th>followers</th>
              <th>User Since</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ object.userprofile.favorite_alcohol }}</td>
            <td>{{ object.userprofile.age }}</td>
              <td>{% for suggestion in object.userprofile.suggestions.all %}
                      {{ suggestion }}
                  {% endfor %}</td>
            <td>{% for follower in object.userprofile.followers.all %}
                    <div>{{ follower }}</div>
                 {% endfor %}</td>
            <td>{{ object.userprofile.created }}</td>
          </tr>
        </tbody>
      </table>
    <a href="{% url 'alcohol_create_view' %}" class="waves-effect waves-light btn-large"><img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTrV79R6YC9sF9sf83Ez8_pmao6PqgHHYGn1VvzgC2JJuN7NJ95BA" width="40px", height="25">        Follow {{ object.get_username }}</a>
{% endblock %}
