{% extends 'base.html' %}

{% block content %}
        <h5>{{ object.get_username }} - User Details</h5>
    <table>
        <thead>
          <tr>
              <th>favorite alcohol</th>
              <th>age</th>
              <th>suggestions</th>
              <th>followers</th>
              <th>User Since</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ object.userprofile.favorite_alcohol }}</td>
            <td>{{ object.userprofile.age }}</td>
              <td>{% for suggestion in object.userprofile.suggestions.all %}
                      {{ suggestion }}
                  {% endfor %}</td>
            <td>{{ object.userprofile.followers.all }}</td>
            <td>{{ object.userprofile.created }}</td>
          </tr>
        </tbody>
      </table>
{% endblock %}